@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');
/*font-family: 'Recursive', sans-serif;
font-family: 'Righteous', cursive;*/

*{box-sizing: border-box;}

.hide{
    display: none;
}
body{
    background-color: pink;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    width: 375px;   
    height: 667px;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    z-index: 10;
    position: absolute;
}
.logoStart{
    width: 136px;
    height: 161px;
    margin-top: -50px;
}
.buttonStart{
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 40px;
}
.start h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 15px;
}
.buttonStart h2{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #D70900;
    cursor: pointer;
}








.smallLogo{
    width: 52px;
    height: 60px;
    margin-top: -10px;
    margin-right: 20px;
}
.questions{
    width: 375px;   
    height: 667px;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    z-index: 9;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 70px;
}   
.questions .top{
    display: flex;
    margin: 50px auto 60px auto ;
}
.question{
    width: 300px;
    height: 65px;   
    border-radius: 5px;    
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
}
.question h2{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.questionColor{
    color: #333333;    
}
.question ion-icon{
    font-size: 150%;
}
.questions h1{ 
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}








.card{
    height: 131px;
    width: 299px;
    border-radius: 5px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    padding:15px
    /* transition: all 1s linear;
    transform: rotateY(180deg); */
}
.card h3 {
    font-family: 'Recursive',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.iconArrowuCurve{
    margin-left: 240px;
    margin-top: 60px;
}
.red,.orange,.green{
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background: #FF3030;
}
.orange{
    background: #FF922E;
}
.green{
    background: #2FBE34;

}
.response{
    display: flex;
    justify-content: space-between;
}
.response h4{
    font-family: 'Recursive',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
}

.iconRed{
    color: #D70900;
}
.iconOrange{
    color: orange;
}
.iconGreen{
    color: #2FBE34;
}
.riskRed{
    text-decoration: line-through;
}
ion-icon[name="help-circle"] {
    color:orange;
}
ion-icon[name="close-circle"] {
    color:#D70900;
}
ion-icon[name="chevron-down-circle"] {
    color:#2FBE34;
}
    




.concluded{
    width: 375px;
    min-height: 70px;
    bottom: 78px;
    background-color: #FFFFFF;
    z-index: 9;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.concluded h2{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    margin: 10px auto;
}
.concluded h5{
    margin-bottom: 10px;
}
.concluded h5,.concluded h6{
    font-family: 'Recursive',sans-serif;
    font-weight: 400;
    font-size: 18px; 
    text-align: center;    
    color: #333333;

}
.concluded .icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
}

.button{
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 90px;
}
.button h5{
    text-align: center;
    color: #FFFFFF;
}